﻿@model IEnumerable< MVCBase.Models.VesselVisit.VesselVisitViewModel>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Crear Nueva Visita", "Create")
</p>

<table class="table" id="mytable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.visit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.line)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vesselName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.atd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.eta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.etd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.serv)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.visit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.line)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vesselName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ata)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.atd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.etd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serv)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                </td>
            </tr>

        }
    </tbody>

</table>

<script src="~/js/VesselVisit/Index.js"></script>



@*<script type="text/javascript">
    $(document).ready(function () {
        $('#mytable').DataTable();
    });
</script>*@