﻿@model MVCBase.Models.VesselVisit.VesselVisitViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ver</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>VesselVisitViewModel</h4>
            <hr />
            @Html.ValidationSummary(true)
            @*<div class="form-group">
                @Html.LabelFor(model => model.check, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.check)
                    @Html.ValidationMessageFor(model => model.check)
                </div>
            </div>*@
    
            @Html.HiddenFor(model => model.id)
    
            <div class="form-group">
                @Html.LabelFor(model => model.visit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.visit)
                    @Html.ValidationMessageFor(model => model.visit)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.line, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.line)
                    @Html.ValidationMessageFor(model => model.line)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.vesselName, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vesselName)
                    @Html.ValidationMessageFor(model => model.vesselName)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.phase, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.phase)
                    @Html.ValidationMessageFor(model => model.phase)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ata, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ata)
                    @Html.ValidationMessageFor(model => model.ata)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.atd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.atd)
                    @Html.ValidationMessageFor(model => model.atd)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.eta, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.eta)
                    @Html.ValidationMessageFor(model => model.eta)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.etd, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.etd)
                    @Html.ValidationMessageFor(model => model.etd)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.serv, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.serv)
                    @Html.ValidationMessageFor(model => model.serv)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
