﻿@model IEnumerable<object>

@using System.Reflection;
@using System.ComponentModel.DataAnnotations;
    @if (Model.Count() > 0)
    {
        //PropertyInfo[] properties = Model.First().GetType().GetProperties();
        <h1 ALIGN="center">Nombre: <span class="label label-success">@ViewBag.display</span></h1>
        <table class="table" id="tablareflection">
        <thead>
            <tr>
                @foreach (var property in Model.First().GetType().GetProperties())
                {
                    var atributos = property.GetCustomAttributes(typeof(DisplayAttribute), true);
                    if (atributos.Count() > 0)
                    {var displayname = atributos[0] as DisplayAttribute; <th>@displayname.Name </th>}
                    else{<th>@property.Name</th>}
                }
            </tr>
        </thead>
        <tbody>
           @foreach (var fila in Model)
           {
            <tr>                             
              @foreach (var property in fila.GetType().GetProperties())
              {<td>@property.GetValue(fila)</td>}
            </tr>
           }                    
        </tbody>
    </table>
}


<script>
$("#tablareflection").DataTable()
</script>