﻿@model MVCBase.Controllers.ContainerController.CrearContactoViewModel

@using (Html.BeginForm("CrearContacto", "Container", FormMethod.Post, new { @id = "formCrearContacto" }))
{
    <div class="jarviswidget">
        <header>
            <h2><strong>Test</strong></h2>
        </header>
        <div class="widget-body">
            <div class="form-group col-lg-12">
                @Html.LabelFor(x => x.NombreContacto, new { @class = "col-lg-4" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.NombreContacto, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group col-lg-12">
                @Html.LabelFor(x => x.Direccion, new { @class = "col-lg-4" })
                <div class="col-lg-8">
                    @Html.EditorFor(x => x.Direccion, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-success">Mandar Contacto</button>
            </div>
        </div>
    </div>
}



<script>
    $("#formCrearContacto").on('submit', function () {
        $.ajax({
            url: '@Url.Action("CrearContacto", "Container")',
            data: $("#formCrearContacto").serialize(),
            type:"POST",
            success: function (data) {
                if (data.ok = true)
                {
                    Alert("Todo Bien");
                }
               
            }
        });
    });
</script>