﻿


<h2>Demo</h2>
<button id="btnCargarAjax">Click me</button>
<div id="divCargarAjax">

</div>

<script>
    $("#btnCargarAjax").on('click', function () {
        $.ajax({
            url : '@Url.Action("CrearContacto", "Container")',
            type : "GET",
            success: function (data) {
                $("#divCargarAjax").html(data);
            },
            error : function(data) {

            },
            complete: function (data) {

            }
        });
    });
</script>