﻿@model IEnumerable<MVCBase.Models.Container.ContainerViewModel>


<h2>Container</h2>

<p>
    @*@Html.ActionLink("Crear Nuevo", "Create")*@
</p>
<table class="table" id="tablacontainer">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gkey)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.equipmentNbr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typeIso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.own)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.typeLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tareWt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.safeWt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.gkey)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.equipmentNbr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.typeIso)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.own)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.typeLength)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tareWt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.safeWt)
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                </td>
            </tr>
        }
    </tbody>

</table>

<script src="~/js/Container/Index.js"></script>