﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<body>
        <div class="row" id="rows">
            <div class="col-lg-5">
                <button type="button" class="btn btn-danger" id="botoncopiarvessel" data-state="off">Exportar Vessel</button>
                 @{Html.RenderAction("VesselVisitPartial", "Principal");}
                </div>
            <div class="col-lg-2">
     
            </div>
            <div class="col-lg-5">
                <button type="button" class="btn btn-danger" id="botoncopiarcontainer" data-state="off">Exportar Container</button>
                @{Html.RenderAction("ContainerPartial", "Principal");}
            </div>

       </div>

    <button type="button" class="btn btn-info" id="botoncambio" data-state="off">Cambios</button>
    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#myModal">Modal</button>
    @*<button type="button" class="btn btn-info" id="prueba" data-state="off">prueba</button>*@

    <div class="panel-group" id="panel1" data-estado="on">

        <div class="panel panel-primary">
            <div class="panel-heading">Contacto</div>
            <div class="panel-body">OPC1 - 555-5555</div>
        </div>
   
    </div>

    <div class="panel-group" id="panel2" data-estado="on">

        <div class="panel panel-primary">
            <div class="panel-heading">Contact SPS</div>
            <div class="panel-body">OPC-SPS -777-7777</div>
        </div>

    </div>


    <div class="container">
        <!-- Trigger the modal with a button -->
        @*<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog" data-keyboard="false" data-backdrop="static" >
            <div class="modal-dialog">

                <!-- Modal content-->

                       
                <div class="modal-content">
                    <div class="modal-header">
                        @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                        <h4 class="modal-title">Crear VesselVisit</h4>
                    </div>
                    <div class="modal-body">

                        @{Html.RenderAction("CreateVesselVisit", "Principal");}
                                           
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>



</body>


<script src="~/js/Principal/Principal.js"></script>
