﻿@model IEnumerable<MVCBase.Models.Documentos.DocumentoViewModel>

<table class="table" id="tabladocumentos">
    @*<thead>
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.idDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idVessel)
            </th>
            <th></th>
        </tr>
    </thead>*@
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink("Abrir", "ViewModal", new { id = item.idDocumento }, new { @class = "modal-link btn btn-success" })
                    @Html.HiddenFor(id => item.idDocumento)
                </td>                
                @*<td>
                    @Html.DisplayFor(modelItem => item.idDocumento)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NombreDocumento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoDocumento)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.idVessel)
                </td>*@
                @*<td>
                    @Html.ActionLink("Abrirventana", "AbrirDocumento", new { id = item.idDocumento })
                </td>*@

            </tr>
        }
    </tbody>

</table>



<div id="modal-container" role="document" class="modal affix" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content"></div>
    </div>

</div>

<script type="text/javascript">
        $(function () {
            // Initialize numeric spinner input boxes
            //$(".numeric-spinner").spinedit();
            // Initialize modal dialog
            // attach modal-container bootstrap attributes to links with .modal-link class.
            // when a link is clicked with these attributes, bootstrap will display the href content in a modal dialog.
            $('body').on('click', '.modal-link', function (e) {
                e.preventDefault();
                $(this).attr('data-target', '#modal-container');
                $(this).attr('data-toggle', 'modal');
            });
            // Attach listener to .modal-close-btn's so that when the button is pressed the modal dialog disappears
            $('body').on('click', '.modal-close-btn', function () {
                $('#modal-container').modal('hide');
            });
            //clear modal cache, so that new content can be loaded
            $('#modal-container').on('hidden.bs.modal', function () {
                $(this).removeData('bs.modal');
            });
            $('#CancelModal').on('click', function () {
                return false;
            });
        });
</script>