﻿@model MVCBase.Models.VesselVisit.VesselVisitViewModel


@{
    ViewBag.Title = "VerVessel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="myCarousel" class="carousel slide" data-ride="carousel" ALIGN="center">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/img/slide/imagen6.jpg" alt="prueba" width="1500" height="100">
            </div>

            <div class="item">
                <img src="~/img/slide/imagen7.jpg" alt="prueba2" width="1500" height="100">
            </div>

            <div class="item">
                <img src="~/img/slide/imagen8.jpg" alt="prueba3" width="1500" height="100">
            </div>

            <div class="item">
                <img src="~/img/slide/imagen9.jpg" alt="prueba4" width="1500" height="100">
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br /><br />
    <h1 ALIGN="center">Vessel:  <span class="label label-success"> @Html.DisplayFor(model => model.visit)</span></h1>
    @*<h2 ALIGN="center">Id: @Html.DisplayFor(model => model.id)</h2>*@
    <h3 ALIGN="center">Phase:  <span class="label label-warning"> @Html.DisplayFor(model => model.phase)</span></h3>

<br />


<div class="jarviswidget jarviswidget-color-darken" id="jarvis1">
   
     <header role="heading"> 
        <div class="jarviswidget-ctrls" role="menu">
         <a class="button-icon jarviswidget-toggle-btn"> <i class="fa fa-plus" data-state="min" id="botonmin"></i></a> 
       </div>
        <h2><strong>INFO</strong></h2>
    </header>

    <div class="content" style="display: none;">
        <!-- widget content -->
      
            <div class="widget-body">

                <div class="panel-group smart-accordion-default" id="accordion-2">
                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-1" class="collapsed">
                                    <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Fechas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne-1" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body" ALIGN="center">
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <h4><span class="label label-default">@Html.DisplayNameFor(model => model.ata)</span></h4>
                                        <h3>  @Html.DisplayFor(model => model.ata)</h3>

                                    </div>
                                    <div class="form-group col-lg-6">
                                        <h4><span class="label label-default">@Html.DisplayNameFor(model => model.atd)</span></h4>
                                        <h3>  @Html.DisplayFor(model => model.atd)</h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-lg-6">
                                        <h4><span class="label label-default">@Html.DisplayNameFor(model => model.eta)</span></h4>
                                        <h3>  @Html.DisplayFor(model => model.eta)</h3>
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <h4><span class="label label-default">@Html.DisplayNameFor(model => model.etd)</span></h4>
                                        <h3>  @Html.DisplayFor(model => model.etd)</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                        <div class="panel-heading">

                            <h4 class="panel-title"><a data-toggle="collapse" data-parent="#accordion-2" href="#collapseOne-2" class="collapsed"> <i class="fa fa-fw fa-plus-circle txt-color-green"></i> <i class="fa fa-fw fa-minus-circle txt-color-red"></i> Documentos </a></h4>
                        </div>
                        <div id="collapseOne-2" class="panel-collapse collapse" style="height: 0px;">
                            <div class="panel-body">

                                @using (Html.BeginForm("SubirDocumento", "Principal", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(x => x.id)
                                    <input type="file" id="fileUpload" name="fileUpload" multiple />
                                        <input class="button1" type="submit" value="Subir" />
                                }
                                <br />
                                <br />

                                @{Html.RenderAction("VerDocumentos", "Principal", new { id = Model.id });}

                            </div>
                        </div>
                    </div>


                </div>

            </div>


        </div>

        <!-- end widget content -->
    </div>




<script>
    $("#botonmin").click(function () {

        var estadocontent = $(this).data("state");

        if (estadocontent == "max") {
            $(".content").hide();
            $(this).data("state", "min")
            $(this).removeClass("fa fa-minus").addClass("fa fa-plus")
        }
        else {
            $(".content").show();
            $(this).data("state", "max")
            $(this).removeClass("fa fa-plus").addClass("fa fa-minus")
        }

    })

</script>


<style>
    .button1 {
        background-color:#337ab7;
        color: #fff; 
        border: 2px solid #337ab7; 
        height: 22px;
        width: 250px;
    }

    .btn-danger {
     color: #fff; 
     background-color: #a90329; 
     border-color: #900323; 
                }

        .btn-warning {
     color: #fff; 
     background-color: #a90329; 
     border-color: #900323; 
                }
</style>






