﻿@model IEnumerable<MVCBase.Models.VesselVisit.VesselVisitViewModel>


<h2>VesselVisits</h2>
@*<button type="button" class="btn btn-info" id="botonexportar" data-state="off">Exportar</button>*@

@*<p>
    @Html.ActionLink("Create New", "ExportarVessel")
</p>*@

<table class="table" id="tablavessel">
    <thead>
        <tr> 
            <th>@Html.DisplayNameFor(model => model.id)</th>
            @*<th>@Html.DisplayNameFor(model => model.check)</th>*@
            <th>@Html.DisplayNameFor(model => model.visit)</th>
            <th>@Html.DisplayNameFor(model => model.line)</th>
            <th>@Html.DisplayNameFor(model => model.vesselName)</th>
            <th>@Html.DisplayNameFor(model => model.phase)</th>
            <th>@Html.DisplayNameFor(model => model.ata)</th>
            <th>@Html.DisplayNameFor(model => model.atd)</th>
            <th>@Html.DisplayNameFor(model => model.eta)</th>
            <th>@Html.DisplayNameFor(model => model.etd)</th>
            <th>@Html.DisplayNameFor(model => model.serv)</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.id">
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                @*<td id="checkb">
                    @Html.CheckBoxFor(modelItem => item.check)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.visit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.line)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.vesselName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ata)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.atd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.eta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.etd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.serv)
                </td>
                <td>
                    @Html.ActionLink("Ver", "VerVessel", new { id = item.id })
                    @*@Html.ActionLink("Details", "Details", new { id = item.id }) |
                      @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }
    </tbody>

</table>

<script src="~/js/VesselVisit/Index.js"></script>

