﻿@model MVCBase.Models.Documentos.DocumentoViewModel


<div class="modal-header">
    <h1> @Html.DisplayFor(model => model.NombreDocumento)</h1>
</div>

    <div class="modal-body">


        <div class="Wrapper">
            <!-- Copy & Pasted from YouTube -->
            <iframe src="@Url.Action("AbrirDocumento", "Principal", new { id = Model.idDocumento })" frameborder="0" allowfullscreen></iframe>

        </div>

        @*<div class="container">

            <div>

            </div>
            <div class="row">
                <iframe frameborder="0" scrolling="auto" height="500" width="550" align="middle" src="@Url.Action("AbrirDocumento", "Principal", new { id = Model.idDocumento })"></iframe>

            </div>
        </div>*@

    </div>
<div class="modal-footer">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>

</div>

    <script type="text/javascript">
        $(function () {
            $('#approve-btn').click(function () {
                $('#modal-container').modal('hide');
            });
        });
    </script>


<style>
    .Wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.Wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

</style>
